<!--<ul>
    <h2 class="dec">953331 - Component-Based Software Development (SEC.701) </h2>
    <p>Introduction to component based technologies. Component-oriented tools and languages. 
      Component modeling and designing. Component building, assembling and deploying. Reusable component-of-the-shelf (COTS)
  แนะนำเทคโนโลยีเน้นโปรแกรมองค์ประกอบ เครื่องมือและภาษาโปรแกรมองค์ประกอบ การออกแบบและสร้างโปรแกรมองค์ประกอบ การสร้าง ประกอบ 
    และนำโปรแกรมองค์ประกอบไปใช้งาน การนำโปรแกรมองค์ประกอบที่สะสมไว้มาใช้ซ้ำ</p>
  <div *ngFor="let student of students">
    
    <li [class.featured]="student.featured" >
      <h2>{{student.studentId}}</h2>
      
      <p class="student-name"> {{student. name | uppercase}} {{student.surname}}</p> 
      <p *ngIf="student.gpa > 2.5">Good Student who get grade {{student.gpa | number: '1.2-2'}}</p>
      <p *ngIf="student.gpa <= 2.5 ">Bad Student who get grade {{student.gpa | number: '1.2-2'}}</p>      
      
       <div class="row">
         <button type="button" class="btn btn-primary btn-xscol-md-l" (click)="upQuantity()">+</button>
      </div> 

      <div class="row">
          <button type="button" class="btn btn-primary btn-xscol-md-1" (click)="downQuantity(student)">-</button>
          <div class="col-md-1"> {{student.penAmount}}</div>
          <button type="button" class="btn btn-primary btn-xscol-md-1" (click)="upQuantity(student)">+</button>
          <div class="col-md-1"></div>
          <button type="reset" class="btn btn-primary btn-xscol-md-2" (click)="reset(student)">Reset</button>
      <div class="col-md-1" (mouseover)="getCoord($event)"> {{student.penAmount}}</div>
        </div> 

      <div >
        <img [src]= student.image title="{{student.name}}"/>
      </div>

    </li> 
  </div>   
</ul>
<p class="grade"> The average gpa is {{averageGpa()}} </p> -->



<div class="row justify-content-center">
  <div *ngFor="let student of students">
    <div class="panel panel-primary ">
      <div class="panel-heading">
        <h2 class="panel-title">{{student.studentId }}</h2>
      </div>
      <div class="panel-body row">
        <div class="col-md-4">
          <p class="student-name"> {{student. name | uppercase}} {{student.surname}}</p>
          <p *ngIf="student.gpa > 2.5">Good Student who get grade {{student.gpa | number:'1.2-2'}}</p>
          <p *ngIf="student.gpa <= 2.5">Bad Student who get grade {{student.gpa | number:'1.2-2'}}</p>
                   <div class="row align-items-center">
            
                <button type="button" class="btn btn-primary btn-xscol-md-1" (click)="downQuantity(student)">-</button>
                <div class="col-md-1" (mouseover)="getCoord($event)"> 
                  {{student.penAmount}}
                </div>
              <button type="button" class="btn btn-primary btn-xscol-md-1" (click)="upQuantity(student)">+</button>
              
              <div class="col-md-1">
                <button type="reset" class="btn btn-primary btn-xscol-md-2" (click)="reset(student)">Reset</button>  
            </div> 
           </div>
        </div>

       <div class="col-md-4">
          <img [src]= student.image title="{{student.name}}"/>
        </div>
    
      </div>
    </div>
</div>
</div>
<div class="row justify-content-end">
<div class="alert alert-success col-md-offset-2 col-md-6 grade"> The average gpa is {{averageGpa()}} </div>
</div>